div.ingredient-group:nth-child(odd) {
	float: left;
	padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
    float: left;
	padding-right: 0;
}

div.ingredient-group {
	width: 50%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span.validationError {
	color: red;
}

body {
    background-color: #f8f9fa;
}

.hero {
    margin-top: 80px;
}

.hero img {
    max-height: 200px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #343a40;
}

.navbar-brand {
    font-weight: bold;
}
